.section-projects {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right,
    rgba($color-primary, 0.801), 
    rgba($color-primary-light, 0.801)), 
    url(../img/low_angle.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    & > * {
      transform: skewY(7deg);
    }
}

.section-plans {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
}

.book {
  background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 50%, 
    transparent 50%), 
    url(../img/sign.jpg);
  background-size: 100%;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}